# ----
# Site

title: Research Computing Lessons
url: "https://vsoch.github.io/lessons"
repo: "https://github.com/vsoch/lessons"
baseurl:  /lessons

# References to files on Github
github_posts:  "https://github.com/vsoch/lessons/blob/master/_posts"
github_posts_raw: "https://raw.githubusercontent.com/vsoch/lessons/master/_posts"


# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /assets/img/helpme.png
description: Quick lessons to learn about reproducible research computing at Stanford
author:
  name: vsoch
  email:
  twitter: vsoch
social:
  name:
  links:
    - https://github.com/vsoch/lessons

# -----
# Build

timezone: Etc/UTC

permalink: /:title/

plugins:
  - jekyll-extract-element
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-archives
  - jekyll-compose
  - jekyll-gist

exclude:
  - README.md
  - LICENSE

collections:
  sets:


jekyll-archives:
  enabled: ['categories']

defaults:
  -
    scope:
      path: ""
    values:
      layout: "index"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      path: "pages"
      type: "pages"
    values:
      layout: "default"

  -
    scope:
      type: "sets"
    values:
      _hide_content: true
  -
    scope:
      path: "pages/index.html"
    values:
      body_class: "show_hero_search"

social_icons:
  - Twitter
  - Email
  - RSS

# Social networking, etc
google_analtics: "UA-85750967-1"
disqus_shortname: "stanfordrc"
twitter_username: StanfordCompute

types:
  - Document
  - Video

_comments:
